<div class="grid-container">

		<button class="grid-item">C</button>
		<button class="grid-item">sq</button>
		<button class="grid-item">sqrt</button>
		<button class="grid-item">/</button>
		<button class="grid-item">7</button>
		<button class="grid-item">8</button>
		<button class="grid-item">9</button>
		<button class="grid-item">-</button>
		<button class="grid-item">5</button>
		<button class="grid-item">6</button>
		<button class="grid-item">7</button>
		<button class="grid-item">*</button>
		<button class="grid-item">1</button>
		<button class="grid-item">2</button>
		<button class="grid-item">3</button>
		<button class="grid-item">+</button>
		<button class="dw-grid-item">00</button>
		<button class="grid-item">0</button>
		<button class="grid-item">=</button>
		

</div>