.grid-container {
	display: flexbox;
	width: 272px;
	height: 412px;

	font-family: monospace;
	color: black;
	background-color: #ccc;

	overflow: auto;
	padding: 2px;
	gap: 10px;
}

.grid-item {

	width: 64px;
	height: 64px;
	margin: 2px;
	border: 2px solid plum;
}

.grid-item:active {
	background-color: #ccc;
}

.grid-item:hover {
	background-color: aqua;
}

.dw-grid-item {

	width: 132px;
	height: 64px;
	margin: 2px;

	border: 2px solid plum;
}

.dw-grid-item:active {
	background-color: #ccc;
}

.dw-grid-item:hover {
	background-color: aqua;
}

.fourwide-grid-item {
	
	background-color: white;
	width: 264px;
	height: 64px;
	
	margin: 2px;
	border: 2px solid plum;
}

.output {

	font-size: 142%;
	float: right;


	max-width: 100%;

}

.opout {
	font-size: 130%;
	margin-left: 20%;
}

