<div class="footer">
	<a href="https://github.com/pippin-29" target="_blank">
		<button class="footer-icon">
			<img  src="assets/images/icons8-github-64.png" alt="gh Defeated">
		</button>
	</a>

	<a routerLink="components/nav/tornado">
		<button class="footer-icon">
			<img class="tornado-img" src="assets/images/icons8-tornado-96.png" alt="gh Defeated">
		</button>
	</a>

	

	
	<a href="https://www.linkedin.com/in/daniel-haddington/" target="_blank">
		<button  class="footer-icon" href="https://www.linkedin.com/in/daniel-haddington/">
			<img src="assets/images/icons8-linkedin-64.png" alt="in Defeated">
		</button>
	</a>
	
</div>