.main-column {
	font-family: monospace;
	column-width: 1920px;
	color: #ccc;
	background-color: #2c2c2c;
	height: 66vh;
	position: relative;	
	border: 1px solid #ccc;
	margin-bottom: 10px;
	margin-left: 8px;
	padding: 10px;
	flex: 1;

	overflow:scroll;


}