.main-column {
	column-width: 1024px;
	height: 66vh;
	position: relative;	
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px;
	flex: 1;

	overflow-x: auto;
	overflow-y: auto;
	white-space: nowrap;
}