.header {
	color: azure;
	background-color: #2c2c2c;
	max-width: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	position: relative;	
	border: 1px solid #ccc;
	vertical-align: middle;
	margin-bottom: 10px;
	padding: 21px;
}

h2 {
	margin: 0; /* removes default margin */
	font-family: monospace;
}

.c {
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-42%);

}

.a {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}