<div [class.collapsed]="isSideColumnVisible" class="side-column">
	<button class=toggleButton (click)="toggleSideColumn()"></button>
	<h3>Projects</h3>
	<h4>yosh.i (minishell)</h4>
	<ul>
		<li>
			<app-folder [folderName]="'includes'" [files]="['yosh_i.h', 'yosh_macros.h']"></app-folder>
		</li>
		<li>
			<app-folder [folderName]="'source'" [files]="['builtin1.c', 'builtin2.c', 'env1.c', 'env2.c', 'env3.c', 'exit.c', 'expander.c', 'expander_norm.c', 'file.c', 'free.c', 'history.c', 'io.c', 'main.c', 'op.c', 'parse.c', 'pipe-io.c', 'print.c', 'prompt.c', 'quotes.c', 'quotes2.c', 'redirection.c', 'run.c', 'setup.c', 'signal.c']"></app-folder>
		</li>	
	</ul>
	<h4>Philosophy_2_02</h4>
	<ul>
		<li>
			<app-folder [folderName]="'includes'" [files]="['philo.h', 'philo_macro.h']"></app-folder>
		</li>
		<li>
			<app-folder [folderName]="'source'" [files]="['ascii_to_int.c', 'error.c', 'init.c', 'main.c', 'print.c', 'print2.c', 'routine.c', 'routine2.c', 'start.c', 'time.c']"></app-folder>
		</li>
	</ul>
	<h4>Miscellaneous</h4>
	<ul>
		<li>
			<app-folder [folderName]="'low-level'" [files]="['memoffset.c', 'bitmask.c', 'b32hex.c']"></app-folder>
		</li>
	</ul>
	<li><a class="link" routerLink="/components/nav/c_projects/">A Story - by ChatGPT</a></li>
	<li><a class="link" routerLink="/components/nav/calculator/">Calculator</a></li>

</div>