.side-column{
	max-width: 128px;

	background-color: #2c2c2c;
	color: plum;
	font-family: monospace;
	height: 66vh;
	position: relative;	
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px;

	overflow: auto;
	white-space: nowrap;
}

.move-left {
	font-size: 75%;
	transform: translateX(-25%);
}

.collapsed {
	max-width: 5px;
	overflow: unset;
}

.hide {
	display: none;
}

.toggleButton {
	transform: translateX(-32%);
}


.link {
	color: plum;
	font-size: 72%;

}

.link:active {
	color: lightsteelblue;
	font-size: 76%;
}

h5 {
	font-size: 90%;
	margin-bottom: -5%;
}

h6 {
	font-size: 80%;
	margin-bottom: -8%;
	margin-top: 10%;
}
